@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
  text-shadow: 2px 2px 0px #ffff;
  mix-blend-mode: screen;
  animation: fadeIn 2.5s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}
.img{
    @apply bg-[#3e4cce] rounded-xl h-full w-full bg-opacity-70 hover:bg-[#141C3A];
}
.first{
    @apply text-[30px] font-bold text-[#e9e9e9];
}
.change{
    @apply text-lg text-center text-[#6E07F3] px-[4rem];
}
